.foot{
width:100%;
position:absolute;
top:100%;
}

.foot ul{
color:#003366;
}

.foot ul li{
display:inline;
list-style:none;
}

.foot ul li a{
padding:8px;
text-decoration:none;
color:#003366;
}