//@import('layout.css');
@font-face{
	font-family: BlackChancery;
	src: url('font/BlackChancery.ttf');
	}
body{
padding:0px;
height:500px;
margin:0px auto;
background: -webkit-linear-gradient(#fff, #A366A3) 0% 400px  no-repeat; /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#fff, #A366A3) 0% 400px  no-repeat; /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#fff, #A366A3) 0% 400px  no-repeat; /* For Firefox 3.6 to 15 */
background: linear-gradient(to bottom, #fff, #A366A3) 0% 400px  no-repeat; /* Standard syntax */
}
.wrapper{
height:100%;
margin:0px auto;
width:100%;
margin-top:0px;
}
.nav{
background:	#A319D1;
width:100%;
position:absolute;
margin-top:0px;
}
.logo .sitename{
float:left;
font-family:BlackChancery;
font-size:36px;
color:white;
padding:10px;
margin-left:5%;
margin-top:1%;
}
.button{
padding:10px;
margin-left:65%;
}

.signup{
position:absolute;
top:10%;
right:10%;

}

.input{
padding:5px;
height: 25px;
width:297px;
-webkit-border-radius: 7px;    
     border-radius: 7px;    
-moz-border-radius:7px;
-khtml-border-radius:7px;
}

.input1 {
height:30px;
width:70px;
-webkit-border-radius: 7px;    
     border-radius: 7px;    
-moz-border-radius:7px;
-khtml-border-radius:7px;
}

.accbtn{
-webkit-border-radius: 9px;    
     border-radius: 9px;    
-moz-border-radius:9px;
-khtml-border-radius:9px;
margin-left:30%;
padding:6px;
color:white;
background:	#A319D1;
}

.left img{
height:75%;
width:55%;
position:absolute;
left:0px;
top:25%;

}
.left p{
top:15%;
margin-left:13%;
font-family:Calibri;
color:purple;
font-size:30px;
padding:0px;
position:absolute;
}

.signup form{
background: -webkit-linear-gradient(#A366A3, #A366A3) 0% 400px  no-repeat; /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#A366A3, #A366A3) 0% 400px  no-repeat; /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#A366A3, #A366A3) 0% 400px  no-repeat; /* For Firefox 3.6 to 15 */
background: linear-gradient( #A366A3, #A366A3) 0% 400px  no-repeat; /* Standard syntax */

}
.foot{
width:100%;
position:absolute;
top:100%;
}

.foot ul{
color:#003366;
}

.foot ul li{
display:inline;
list-style:none;
}

.foot ul li a{
padding:8px;
text-decoration:none;
color:#003366;
}